body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.blogStyle {
    padding-top: 10px;
    padding-left: 2px;
    border: 2px solid black;
    border-width: 1px;
    margin-bottom: 4px;
}

.smallButton {
    margin-left: 0.5rem;
}

.notification {
    background-color: azure;
    color: green;
    padding: 1rem;
    border-style: solid;
    margin-bottom: 1rem;
}

.errorMessage {
    background-color: rgb(163, 181, 181);
    color: red;
    padding: 1rem;
    border-style: solid;
    margin-bottom: 1rem;
}

#logout-button{
    margin-left: 0.5rem;
}

#nav-buttons-container{
    display: flex;
    gap: 1rem;
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#login-style {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#login-style h2 {
    margin: 0;
}

#home-style {
    margin: 0.5rem;
}

#new-blog-form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;

}

a:hover {
    color:blue
}

h1 {
    margin-bottom: 0.5rem;
}